*{margin: 0; padding: 0;}

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

#topbar .text-right .product{
    padding-right: 5px;
    border-right: 1px solid #bdbaba;
}

#topbar .text-right .acccount{
    padding-left: 5px;
}

#topbar .text-right a{
    font-size: 14px;
    text-decoration: none;
}

#topbar .text-right a:hover{
    font-weight: bold;
    color: #48bd52!important
}

/*--navbar--*/

.navbar{
	padding: .1rem;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .4);
	z-index: 1;
}

.navbar-nav li{
	padding-right: 15px;
}

.nav-link{
	font-size: 1.1rem !important;
}

.nav-link.active,
.nav-link:hover{
	color: #b3f8b9!important
}

/*--End navbar--*/

/*Start ChatBot*/
.chat_icon {
	position: fixed;
	bottom: 0;
	left: 30px;
	z-index: 1000;
	padding: 0;
	font-size: 60px;
	color: rgb(169, 211, 157);
	cursor: pointer;
}

.chat_box {
	width: 400px;
	height: 80vh;
	position: fixed;
	bottom: 80px;
	left: 30px;
	background:#dedede;
	z-index: 1000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}

.chat_box_topic {
    background-color: rgb(218, 240, 211);
}

.chat_box_topic h4 {
    color: rgb(169, 211, 157);
    text-align: center;
	font-family: monospace;
}

.chat_box.active {
	transform: scaleY(1);
}

#messages {
	padding: 20px;
}

.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}

.hidden{
	display: none !important;
}









/*End ChatBot*/



/*--Start slide section with create section--*/

section#slide{
    display: flex;
}

/*--Start slide section--*/
.left{
    width: 100%;
    height: 93vh; 
}
/*--End slide section--*/

/*--Start create section--*/
.right{
    width: 31%;
    height: 310px;
    background-color: rgba(247, 247, 247 ,.8);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    padding: 60px;
    margin-left: -470px;
    transform: translateY(88%);
}

.right h1{
    font-size: 1.7rem; 
}

.border-primary{
	border-top: .15rem solid #5cb85c!important;
}

.right h5{
    font-size: 1.2rem;
}

.btn-md{
	border-radius: .2rem;
    font-size: .9rem;
}

.right #sachi{
    text-align: center;
}
/*--Ens create section--*/

/*--Start - set media query for slide section with create section--*/
@media only screen and (max-width: 1024px){
    section#slide{
        flex-direction: column;      
    }
    .right{
        align-items: center;
        width: 100%;
        height: 18vh;
        padding: 30px;
        margin: 0;
        transform: translateY(0%);
        border-radius: 0;
    }
    
    .right h5{
        font-size: 1.1rem;
    }
    .left{
        height: 55vh; 
    }
}

@media only screen and (max-width: 768px){
    section#slide{
        flex-direction: column;  
    }
    .right{
        width: 100%;
        height: 19vh;
        padding: 30px;
        margin: 0;
        transform: translateY(0%);
        border-radius: 0;
    }
    .left{
        height: 54vh; 
    }
}

@media only screen and (max-width: 540px){
    section#slide{
        flex-direction: column;  
    }
    .right{
        width: 100%;
        height: 22vh;
        padding: 30px;
        margin: 0;
        transform: translateY(0%);
        border-radius: 0;
    }
    .left{
        height: 56vh; 
    }
}

@media only screen and (max-width: 375px){
    section#slide{
        flex-direction: column;     
    }
    .right{
        width: 100%;
        height: 24vh;
        padding: 30px;
        margin: 0;
        transform: translateY(0%);
        border-radius: 0;
    }
    .right h1{
        font-size: 1.466rem;
    }
    .left{
        height: 55vh; 
    }
}

@media only screen and (max-width: 320px){
    section#slide{
        flex-direction: column;
    }
    .right{
        width: 100%;
        height: 26vh;
        padding: 20px;
        margin: 0;
        transform: translateY(0%);
        border-radius: 0;
    }
    .right h1{
        font-size: 1.2rem;
    }
    .left{
        height: 55vh; 
	}
}
/*--End - set media query for slide section with create section--*/

/*--End slide section with create section--*/


/*--Start travel section--*/

#travel{
    height: 60px;
}
#delivery{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 248, 221);
    height: 50px;
}

#delivery i{
    display: flex;
    justify-content: center;
    align-items: center;
}

#delivery .fa-color{
    color: #43914a;
}

#delivery h1{
    font-size: 20px;
    margin: 15px 0px 0px 30px;
}

@media only screen and (max-width: 485px){
    #delivery h1{
        font-size: 17px;
    }
    
}

@media only screen and (max-width: 429px){
    #delivery h1{
        font-size: 15px;
        margin: 15px 0px 0px 10px;
    }
    
}

@media only screen and (max-width: 373px){
    #delivery h1{
        font-size: 14px;
        margin: 15px 0px 0px 10px;
    }
    #delivery .fa-customize{
        font-size: 25px;
    }
}

@media only screen and (max-width: 345px){
    #delivery h1{
        font-size: 13px;
        margin: 15px 0px 0px 9px;
    }
    #delivery .fa-customize{
        font-size: 24px;
    }
}

@media only screen and (max-width: 325px){
    #delivery h1{
        font-size: 11px;
        margin: 15px 0px 0px 3px;
    }
    #delivery .fa-customize{
        font-size: 22px;
    }
}

/*--End travel section--*/


/*--Start offers section--*/

section#offers{
    height: 40vh;
}

#offers .container{
    display: flex;
    justify-content: center;
}

#offers .container .discount,
#offers .container .order,
#offers .container .return{
    padding: 20px;
    margin: 15px;
    width: 300px;
    height: 230px;
    align-content: center;
    transition: 1.5s;
}

#offers .container .discount:hover,
#offers .container .order:hover,
#offers .container .return:hover{
    background-color: rgb(239, 253, 237);
}

#offers .discount img,
#offers .return img{
    border-radius: 50%;
    display: flex;
}

#offers .discount1,
#offers .order1,
#offers .return1{
    padding-left: 95px;   
}

#offers .order .order2{
    width: 70px;
    height: 70px;
    background-color: rgb(195, 238, 202);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-family: calibri;
    font-weight: bold;
    color: rgb(22, 133, 50);
}

#offers .container .discount p,
#offers .container .order p,
#offers .container .return p{
    text-align: center;
    justify-content: center;
}

#offers .container .discount h1,
#offers .container .order h1,
#offers .container .return h1{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px){
    section#offers{
        height: auto;
    }
}

@media only screen and (max-width: 991px){
    section#offers{
        height: auto;
    }
    #offers .discount1,
    #offers .order1,
    #offers .return1{
        padding-left: 45px;    
    }
    #offers .container .discount,
    #offers .container .order,
    #offers .container .return{
        height: 270px;
    }
}

@media only screen and (max-width: 767px){
    section#offers{
        height: 650px;
    }
    #offers .container{
        flex-direction: column;
    }
    #offers .discount1,
    #offers .order1,
    #offers .return1{
        padding-left: 95px;    
    }
    #offers .container .order{
        margin: auto;
        height: 230px;
    }
    #offers .container .discount,
    #offers .container .return{
        margin: auto;
        height: 210px;
    }
}

/*--End offers section--*/

/*Start types of products section--*/
    #type{
        margin-top: 20px;
    }
    #type .size{
        text-align: center;
        justify-content: center;
    }

    #type .content{
        background-color: rgba(247, 247, 247 ,.8);
        padding: 8px 0px 0px 10px;
        margin: auto;
        transform: translateY(100%);
    }

    #type .fa-color,
    #type h4,
    #type p{
        color: #020202;
    }
    
    #type a:hover{
        text-decoration: none;
    }

    @media only screen and (max-width: 991px){
        #type .content{
            padding: 8px 0px 0px 10px;
            margin-left: -18px;
            margin-right: 30px;
            transform: translateY(80%);
        }

        #type .content h4{
            font-size: 15px;
        }

        #type .content p{
            font-size: 11px;
        }
    }

    @media only screen and (max-width: 767px){
        #type .content{
            padding: 5px 0px 0px 7px;
            margin-left: -18px;
            margin-right: -10px;
            transform: translateY(30%);
        }
    }

    @media only screen and (max-width: 575px){
        #type .content{
            padding: 7px 0px 1px 7px;
            margin-left: -18px;
            margin-right: 40px;
            transform: translateY(100%);
        }

        #type .content h4{
            font-size: 20px;
        }

        #type .content p{
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 364px){
        #type .content{
            padding: 5px 0px 0px 7px;
            margin-left: -18px;
            margin-right: 30px;
            transform: translateY(70%);
        }
    }

    @media only screen and (max-width: 300px){
        #type .content{
            transform: translateY(70%);
        }
    }

    @media only screen and (max-width: 264px){
        #type .content{
            padding: 5px 0px 0px 7px;
            margin-left: -18px;
            margin-right: -10px;
            transform: translateY(20%);
        }
    }

    @media only screen and (max-width: 212px){
        #type .content{
            transform: translateY(10%);
        }

        #type .content h4{
            font-size: 17px;
        }

        #type .content p{
            font-size: 12px;
        }
    }

/*Ends types of products section--*/

/*Start types of products section--*/

    #definition .purpose{
        margin-top: 3rem;
    }

    #definition .container .aim{
        text-align: center;
        font-weight: 600;
    }

    #definition .row h5{
        font-weight: 600;
    }

/*End types of products section--*/

/*Start section for the first part of the footer--*/

#details{
    background-color: rgb(239, 253, 237);
}

#details .payment,
#details .satisfication,
#details .delivery{
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
}

#details .payment1 .fa-color,
#details .satisfication1 .fa-color,
#details .delivery1 .fa-color{
    color: #43914a;
}

#details .payment2{
    margin-top: 2rem;
}

#details .satisfication2{
    margin-top: 5.5rem;
}

#details .delivery2{
    margin-top: 3rem;
}

#details .payment2 .fa-color,
#details .delivery2 .fa-color{
    color: #5aa160;
}

#details .payment3,
#details .satisfication3{
    margin-top: 1rem;
}

#details .delivery3{
    margin-top: 2rem;
}

#details .payment3 a,
#details .satisfication3 a,
#details .delivery3 a{
    color: #5aa160;
}


#details .payment3 h5,
#details .satisfication3 h5,
#details .delivery3 h5{
    text-decoration: none;
}

/*End section for the first part of the footer--*/

/*Start section for the second part of the footer--*/
#definition{
    text-align: center;
}

#definition .purpose .row ul{
    list-style: none;
}

#definition .purpose .row a{
    text-decoration: none;
    color: #020202;
}

#definition .purpose .row a:hover{
	color: #45ad5c!important
}
/*End section for the second part of the footer--*/

/* Start contact page */
    .contact {
        padding: 2.2rem 8.5rem 1rem 8.5rem;
    }

    /* .contact .cont-info {
        display: flex;
    } */

    .contact .cont-info a{
        text-decoration: none;
    }

    .contact .cont-tele,
    .contact .cont-mail {
        margin: 0px 10px 20px 0px;
    }

    .contact .cont-tele .cont-box1,
    .contact .cont-mail .cont-box1 {
        background-color: #5aa160;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;
        position: relative;
    }

    .contact .cont-tele .cont-box1 {
        margin-left: 20px;
    }

    .contact .cont-mail .cont-box1 {
        margin-left: 40px;
    }

    .contact .cont-tele .cont-box1 i,
    .contact .cont-mail .cont-box1 i {
        margin-top: 14px;
        color: rgb(255, 255, 255);
    }

    .contact .cont-tele .cont-box2,
    .contact .cont-mail .cont-box2 {
        background-color: #b4f8ba;
        margin-top: -25px;
        padding: 35px 20px 5px 20px;
        text-align: center;
    }

    .contact .cont-tele .cont-box2:hover,
    .contact .cont-mail .cont-box2:hover {
        background-color: #e6fce8;
        border: 2px solid #82bd87;
    }

    .contact .cont-tele .cont-box2 h5,
    .contact .cont-mail .cont-box2 h5 {
        color: rgb(0, 0, 0);
    }

    .contact .cont-tele .cont-box2 p,
    .contact .cont-mail .cont-box2 p {
        margin-top: -5px;
        color: rgb(101, 102, 102);
    }

    .contact .contact-form form .detail {
        width: 100%;
    }

    .contact .contact-form form select,
    .contact .contact-form form input,
    .contact .contact-form form textarea {
        border: 1px solid #7a7a7a;
        border-radius: 0.3rem;
    }

    .contact .contact-form form .btn1 {
        background: #5aa160;
        color: rgb(255, 255, 255);
        outline: none;
        border: none;
        border-radius: 0.3rem;
        height: 40px;
        width: 100%;
    }

    .contact .contact-form form .btn1:hover {
        -webkit-box-shadow: -1px 9px 27px -8px rgb(102, 218, 131);
        -moz-box-shadow: -1px 9px 27px -8px rgb(102, 218, 131);
        box-shadow: -1px 9px 27px -8px rgb(102, 218, 131);
    }

    .contact .contact-form form .form-row:nth-child(6) {
        justify-content: center;
    }

    @media only screen and (max-width: 992px){
        .contact {
            padding: 2.2rem 6.5rem 1rem 6.5rem;
        }
    }

    @media only screen and (max-width: 576px){
        .contact {
            padding: 2.2rem 3.5rem 1rem 3.5rem;
        }
    }

    @media only screen and (max-width: 414px){
        .contact {
            padding: 2.2rem 0rem 1rem 0rem;
        }

        /* .contact .cont-info {
            flex-direction: column;
        } */

        .contact .cont-tele,
        .contact .cont-mail {
            margin-right: 0px;
        }

        .contact .cont-mail .cont-box1 {
            margin-left: 20px;
        }
    }

    @media only screen and (max-width: 375px){
        .contact {
            padding: 2.2rem 0rem 1rem 0rem;
        }
    }

    @media only screen and (max-width: 280px){
        .contact .cont-desc .main {
            text-align: justify;
        }
    }
/* End contact page */

/* Start about page */
#about .about-us a {
    color: #494949;
    text-decoration: none;
}

#about .about-us a:hover {
    color: rgb(108, 196, 130);
}
/* End about page */

/* Start create, create1 pages */
#create {
    background: rgb(218, 218, 218);
    box-shadow: #b4f8ba;
    /* height: 85%; */
}

#create .add-text {
    text-align: center;
}

#create .add-text a {
    color: #4e4e4e;
    text-decoration: none;
}

#create .add-text #select {
    background-color: rgb(243, 243, 243);
    border-radius: 1%;
}

/* #create .container {
    height: 50%; 
} */

#create .subtshirt {
    max-width: none;
    position: relative;
}

#create .subtshirt #text {
    position: absolute;
    top: 30%;
    color: #e6fce8;
    left: 27%;
    width: 130px;
    text-align: center;
    list-style-type: none;
}

#create .subtshirt #remove {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    border-radius: 0%;
    width: 60px;
    height: 20px;
}

#create .subtshirt #remove i {
    color: #ec0826;
}

#create .container img {
    width: 100%;
    height: 50%;
}

#create .tshirt-buton button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(182, 245, 195);
}
/* 
#create #btn1 {
    background-color: #0e3137;
}

#create #btn2 {
    background-color: #5b0620;
}

#create #btn3 {
    background-color: #273c16;
}

#create #btn4 {
    background-color: #390f3f;
}

#create #btn5 {
    background-color: #10292d;
}

#create #btn6 {
    background-color: #403612;
}

#create #btn7 {
    background-color: #5b0620;
}

#create #btn8 {
    background-color: #10292d;
} */
/* End create, create1 pages */

/* Start to create2 page */
#create .tshirt .frame {
    position: relative;
}

#create .drop-zone {
    max-width: 121px;
    height: 120px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #cccccc;
    border: 1px dashed #e0e0e0;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 30.5%;
}
  
#create .drop-zone--over {
    border-style: solid;
}
  
#create .drop-zone__input {
    display: none;
}
  
#create .drop-zone__thumb {
    width: 123px;
    height: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    /* position: relative; */
}

#create .drop-zone__thumb::after {
    content: attr(data-label);
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    /* padding: 5px 0; */
    color: transparent;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* End to create2 page */